@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(function () {

            $("#btnPost").click(function () {
                $.ajax({
                    type: "Post",
                    dataType: "json",
                    url: "/login/post",
                    data: {},
                    success: function (result) {                      
                            alert(result);
                        

                    }
                });
            })

            $("#btnPost2").click(function () {
                $.ajax({
                    type: "Post",
                    dataType: "json",
                    url: "/login/post2",
                    data: { "redirect_url": $("#redirect_url").val(), "name": $("#name").val(), "pwd": $("#pwd").val() },
                    success: function (result) {
                        alert(result);


                    }
                });
            })
        })

    </script>
</head>
<body>
    <div style="text-align:center; padding:20px;">
        <h3> SAAS登录中心 </h3>
        <div>

            @*<form method="post" action="/login/post">*@
            <input type="hidden" name="redirect_url" id="redirect_url" value="@ViewBag.redirect_url" />
            <div style="margin:15px;">
                用户： <input type="text" name="name" id="name" /><br />
            </div>
            <div style="margin:15px;">
                密码： <input type="password" name="pwd" id="pwd" /><br />
            </div>

            <input type="submit" id="btnPost" value="登录" />

            <input type="submit" id="btnPost2" value="登录2(带参数)" />
            @*</form>*@
        </div>

    </div>

</body>
</html>
